.autocompleteWrapper {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.autocompleteWrapper > * + * {
    margin-top: 0.5rem;
}

.autocompleteInput {
    width: 400px;
    border: 1px solid #6495ed;
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    box-sizing: border-box;
}
.autocompleteInput:focus {
    border: 2px solid #6495ed;
}

.label {
    text-align: start;
}

.options {
    margin: 0;
    list-style: none;
    padding: 8px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: absolute;
    text-align: start;
    max-height: 500px;
    overflow-y: auto;
    width: 100%
}

.options li {
    padding: 8px;
    font-size: 16px;
    line-height: 24px;

}

.options li:hover{
    background:aliceblue;
}

.iconClose{
    padding-left: 16px;
        background: url("https://static.thenounproject.com/png/1180177-200.png") no-repeat right;
        background-size: 20px;
}

.iconOpen {
    padding-left: 16px;
    background: url("https://static.thenounproject.com/png/331737-200.png") no-repeat right;
    background-size: 20px;
}


